<!-- Play2Learn Home
  by: Karen DiCampo 
  8/21/2024
-->
<!--This adds the base html-->
{% extends "_base_vue.html" %}

<!--This is the title that shows on  the browser tab -->
{% block title %}P2L Home{% endblock %}
{% block header %}Play2Learn Home Header{% endblock %}
{% block main %}
  <p>Welcome to Play2Learn Home</p>
  <section id="games">
    <div class="row g-0">
      <div class="card mb-3 mx-auto" id="game1" style="max-width: 540px;">
        <h3>Anagram Hunt</h3>
        <p>An anagram is a word made by rearranging the letters of another word. 
          For example, post, pots, opts, tops, and spot are all anagrams of stop. 
          The object of the Anagram Hunt game is to find all the anagrams for a given word.</p>
        <button id="play1" onclick="location.href='http://127.0.0.1:8000/anagram-hunt/'">Play</button> 
      </div>
      <div class="card mb-3 mx-auto" id="game2" style="max-width: 540px;">
        <h3>Math Facts Practice</h3>
        <p>This is a simple game for practicing addition, subtraction, multiplication, and division. 
          The game ends when the timer runs out.
        </p>
        <button id="play2" onclick="location.href='http://127.0.0.1:8000/math-facts/'">Play</button>
      </div>
    </div>
  </section> <!--end games-->
{% endblock %}
{% block footer %}Play2Learn Home Footer{% endblock %}