{% extends "_base_vue.html" %}

{% block title %}My Reviews{% endblock %}
{% block main %}
  <ul class="list-group list-group-flush mb-3">
    {% for review in review_list %}
      <li class="list-group-item">
        {{ review.game }}
        {{ review.stars }}
        <a href="{% url 'reviews:detail' review.slug %}">{{ review.review }}</a>
        <a href="{% url 'reviews:update' review.slug %}" class="btn btn-info btn-sm float-end me-2">Update</a>
        <a href="{% url 'reviews:delete' review.slug %}" class="btn btn-danger btn-sm float-end me-2">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}