{% extends "_base_vue.html" %}

{% block title %}Math Facts Score Submittal{% endblock %}
{% block main %}
  <h2>Math Facts Score Submittal</h2>
  <div class="card border-primary m-auto mb-3 p-3"
    style="max-width: 30rem">
    <form method="post">
      {% csrf_token %}
      {{ MathFactsScores.user }}
      {{ MathFactsScores.score }}
      {{ MathFactsScores.max_number }}
      {{ MathFactsScores.operation }}
      <button class="btn btn-success float-end">Save</button>
    </form>
  </div>

{% endblock %}