{% extends "_base_vue.html" %}

{% block title %}My Anagram Hunt Scores{% endblock %}
{% block main %}
<section class="me-auto" id="page-info">
    <section id="page-header" class="text-center m-4">
        <h1>My Anagram Hunt Scores</h1>
    </section>

    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Anagram Hunt</h3>
                <ol>
                    {% for score in anagram_scores %}
                        <li>{{score.score}}:  {{score.user.username}}  {{score.end_time}}</li> 
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}