{% extends "_base_vue.html" %}

{% block title %}Math Facts{% endblock %}
{% block main %}
  <h1>Math Facts</h1>
  <h2>Math Facts High Scores</h2>
  <ol>
    {% for score in math_scores %}
        <li>{{score.score}}:  {{score.user.username}}  {{score.end_time}}</li>
    {% endfor %}
  </ol>
  <p>User id:  {{ request.user.id }}</p>
  {{ block.super }}
  <p>Username:  {{ request.user.username  }}</p>
  <p>User first_name:  {{ request.user.first_name  }}</p>
  <p>User last_name:  {{ request.user.last_name  }}</p>
  <p>This user: this.user</p>
  {{ user.id }}
{% endblock %}